body{
    background-image: url(../01/bg.png);    
}
.wrapperbg{
    display: auto;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-55%, -55%);
}
.text_card{
    text-align: center;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-55%, -55%);     
}
#h1{
    color: rgb(249, 249, 249);
    font-size: 28px;
    font-family: 'Times New Roman', Times, sans-serif;
    position: absolute;
    top: -45%;
}
.text{
    color: rgb(206, 206, 206);
    font-size: 15px;
    text-align:initial;
    max-width: 300px;
}
.img{
    position: absolute;
    top: 350px;
    left: 450px;
    
}
#shell{
    margin-top: -2000px;
    margin-left: 2000px;
    position: fixed;
    position: absolute;
}
#penguin{
    margin-top: 8px;
    margin-left: 300px;
}