.background {
    background-image: url(../2/hintergrund.png);
    background-size: auto;
    padding-bottom: 500px;
    bottom: 600px;
}
.wrapper {
    background-image: url(../2/orange.png);
    width: 600px; height: 400px;
    position: absolute;
    top: 500px;
    left: 650px;
    bottom: 600px;
    transform: translate(-50%, -50%);
}

.text {
    color: lawngreen;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.muschel {
    bottom: 20%;
    left: 800px;
}


.Muschel {
    display: inline;
    position: relative;
    padding-right: 0px;
    left: 175px;
    top: 50px;
}


.Muschel:hover img[alt="Muschel"] {
    opacity: 0%;

}


.Muschel img[alt="Muschel"], .Muschel img[alt="Muschel offen"] {
    transition-duration: 1.7s;
}


.Muschel img[alt="Muschel offen"] {
    position: absolute;
    left: 0;
    opacity: -10%;
}


.Muschel:hover img[alt="Muschel offen"] {
    opacity: 88%;
}

