.background {
    background-image: url(../2/hintergrund.png);
    background-size: auto;
    padding-bottom: 500px;
}
.wrapper {
    background-image: url(../2/orange.png);
    width: 600px; height: 400px;
    position: absolute;
    top: 500px;
    left: 650px;
    transform: translate(-50%, -50%);
}

.text {
    color: lawngreen;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.muschel {
    position: absolute;
    bottom: 20%;
    left: 300px;
    transform: translate(-50%);

}
.dieMuschel {
    display: inline;
    position: relative;
    padding-right: 25px;

}
.dieMuschel:hover img[alt="Muschel"] {
    opacity: 0%;

}
.dieMuschel img[alt="Muschel"], .dieMuschel img[alt="Muschel offen"] {
    transition-duration: 2.7s;

}
.dieMuschel img[alt="Muschel offen"] {
    position: absolute;
    left: 0;
    opacity: 0%;
}

.dieMuschel:hover img[alt="Muschel offen"] {
    opacity: 100%;
}