.fix {
    position: relative;
    top: 200px;
    left: 400px;
    width: fit-content;
}

#banderole{
    position: absolute;
    top: 275px;
    right: 0px;
    z-index: 5;
}

.video {
    position: absolute;
    bottom: 80px;
    left: 50px;
    width: 680px;
    height: 280px;
}